<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="All Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
        <logging>
            <log type="testdox-html" target="testdox.html"/>
            <log type="testdox-text" target="testdox.txt"/>
        </logging>
</phpunit>